doctype
html
  head
    link(rel="stylesheet" href="/main.css")
    meta(charset="ISO-8859-1")
    meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1")
  body
    header
      h1 S.N. 
      h3: a(href="/")= "Table of Contents"
      hr
    section
      != yield